@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Public Sans', sans-serif;
	/* cursor: grab; */
}

/* HEAD */
.head {
	padding: 140px;
	padding-top: 216px;
}

h1 {
	margin-bottom: 20px;
	font-size: 50px;
	color: hsl(233, 26%, 24%);
	font-weight: 400;
}

p {
	margin-bottom: 30px;
	font-size: 17px;
	color: hsl(233, 8%, 62%);
	font-weight: 400;
}

.img {
	position: absolute;
	width: 695px;
	height: 860px;
	top: -2.6rem;
	right: 0;
	right: -7rem;
}

.img1 {
	position: absolute;
	width: 1025px;
	height: 900px;
	top: -10rem;
	right: -18.5rem;
}

button {
	font-size: 12.7px;
	padding: 12.2px;
	padding-left: 32px;
	padding-right: 32px;
	color: aliceblue;
	border: none;
	border-radius: 19px;
	background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

button:hover {
	background: linear-gradient(hsla(136, 65%, 51%, 0.479), hsla(192, 70%, 51%, 0.459));
	cursor: pointer;
}
/* END OF HEAD */

/* CHOICE */
#choice {
	padding: 140px;
	padding-top: 100px;
	background-color: hsla(0, 7%, 94%, 0.637);
}

.choicee {
	display: flex;
	justify-content: space-between;
}

.h {
	margin-bottom: 13px;
	font-size: 40px;
	color: hsl(233, 26%, 24%);
	font-weight: 400;
}

.icon {
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
}

h2 {
	color: hsl(233, 26%, 24%);
	font-weight: 400;
	margin-bottom: 23px;
}

.p-choice {
	font-size: 14.4px;
	color: hsl(233, 8%, 62%);
	display: block;
}
/* END OF CHOICE */

/* ARTICLES */
.articles {
	padding: 140px;
	padding-top: 7px;
}

.articles-img {
	background-color: aliceblue;
	border-radius: 7px;
	height: 100%;
	width: 100%;
	margin: 13px;
	margin-top: 32px;
}

.hh {
	margin: 13px;
}

.AR-img {
	width: 240px;
	height: 190px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

h3 {
	color: hsl(233, 26%, 24%);
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 13px;
	margin-top: 12px;
	row-gap: 2;
}

h3:hover {
	color: hsl(136, 65%, 51%);
	cursor: grab;
}

h5 {
	color: hsl(233, 8%, 62%);
	font-weight: 500;
	font-size: 12px;
}

h6 {
	color: hsl(233, 8%, 62%);
	font-weight: 400;
	font-size: 8.99px;
}

.articles-text {
	padding: 20px;
}
/* END OF ARTICLES */

/* FOOTER */
#footer {
	background-color: hsl(233, 26%, 24%);
	height: 180px;
	padding: 140px;
	padding-top: 50px;
	display: flex;
}

.logo {
	width: 140px;
	height: 20px;
	background: rgb(171, 168, 201);
}

.socials a {
	padding: 4px;
}

.socials a:hover {
	color: hsl(136, 65%, 51%);
}

.list1 li {
	list-style: none;
	margin-left: 130px;
}

.list1 ol {
	color: rgb(227, 222, 252);
	padding-bottom: 19px;
	font-weight: 400;
	font-size: 13.6px;
}

.list1 ol:hover {
    color: hsl(150, 92%, 30%);
	font-weight: 500;
	cursor: pointer;
}

.btn {
	margin-left: 230px;
}

.btn button {
	margin-left: 139px;
}

.btn p {
	font-size: 14px;
	margin-left: 80px;
	margin-top: 7px;
}
/* END OF FOOTER */

/* NAVBAR */
.navbar {
	position: fixed;
	background: hsl(0, 2%, 88%);
	height: 80px;
	width: 2000px;
	display: flex;
	z-index: 100;
}

.logo1 {
	padding-left: 140px;
	padding-top: 30px;
}

.list3 nav {
	display: flex;
	padding: 30px;
	padding-left: 236px;
	width: 580px;
	justify-content: space-between;
}

.list3 .link {
	color: hsl(235, 14%, 52%);
	padding-bottom: 5px;
	font-weight: 450;
	/* padding-right: 25px; */
	text-decoration: none;
	font-size: 14px;
	transition: 0.5s;
	position: relative;
}

.list3 .link::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	padding: 0;
	bottom: -1.7rem;
	left: 0;
	background: linear-gradient(rgb(49, 211, 92), rgb(43, 183, 218));
	transform: scaleX(0);
	transition: all 200ms ease;
}

.list3 span:hover .link::after {
	transform: scaleX(1);
}

.btn1 {
	margin: 22.3px;
	margin-left: 170px;
}
/* END NAVBAR */


/* MEDIA QUERY For MOBILE */
@media(max-width: 812px) {
	body {
		overflow-x: hidden;
	}

    .navbar {
	width: 375px;
    }

    .list3 nav {
		display: none;
	}

	.btn1 {
	display: none;
    }

	.img {
	position: absolute;
	width: 200px;
	height: 200px;
	right: 0;
    }

    .img1 {
	position: absolute;
	width: 200px;
	height: 200px;
	right: 0;
	top: 0;
    }

	.choicee {
	display: inline-block;
    }

	#footer {
	height: 700px;
	display: inline-block;
	width: 375px;
    }

	.btn {
	margin-left: 0px;
    } 

    /* .btn button {
	margin-left: 0px;
    } */

    .btn p {
	font-size: 20px;
	/* margin-left: 0px;
	margin-top: 0px; */
    } 

	.list1 li {
	list-style: none;
	text-align: center;
    }

    .list1 ol {
    	color: rgb(227, 222, 252);
    	padding-bottom: 10px;
    	font-weight: 400;
    	font-size: 13.6px;
    }

	.logo {
	width: 140px;
	height: 20px;
	background: rgb(171, 168, 201);
    }

    .socials a {
	padding: 4px;
    }

	articles {
    margin-right: 50px;
	padding-top: 7px;
    }

    .articles-img {
	background-color: aliceblue;
	border-radius: 7px;
	height: 100%;
	width: 100%;
	margin: 0px;
	margin-top: 32px;
    }
} 
/* END For MOBILE */
